<div class="wrapper">
  <div class="wrapper--box">
    <app-header-typography [content]="'Tech Stack'"></app-header-typography>
    <div class="wrapper--box icon-collection">
      <app-angular-icon></app-angular-icon>
      <app-nest-icon></app-nest-icon>
      <app-node-icon></app-node-icon>
      <app-java-icon></app-java-icon>
      <app-typescript-icon></app-typescript-icon>
      <app-html-icon></app-html-icon>
      <app-css-icon></app-css-icon>
      <app-azure-icon></app-azure-icon>
    </div>
    <app-divider [height]="'0.025rem'" [width]="'100%'"></app-divider>
  </div>
</div>
