<div class="wrapper wallpaper">
  <div class="wrapper--box">
    <img class="wrapper--box splashart" src="./../../../../assets/svgs/splashart.jpg" alt="background-image">
    <div class="wrapper--box group">
      <app-brand-typography [content]="'D|O'"></app-brand-typography>
      <app-divider [height]="'0.05rem'" [width]="'12vw'"></app-divider>
      <app-sub-brand-typography [content]="'Hello. My name is Diogo Oliveira.'"></app-sub-brand-typography>
      <app-sub-brand-typography [content]="'I’m a Software Engineer aspiring to better understand software architecture.'"></app-sub-brand-typography>
    </div>
  </div>
</div>
