.wrapper {
  padding: 0rem 4rem;

  text-align: center;

  &--box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media(min-width: 760px) {
  .wrapper {
    padding: 2.5rem 6.5rem;
  }
}

@media(min-width: 960px) {
  .wrapper {
    padding: 2.5rem 10rem;
  }
}

@media(min-width: 1600px) {
  .wrapper {
    padding: 2.5rem 25rem;
  }
}
