<div class="wrapper">
  <div class="wrapper--box">
    <div class="wrapper--box header">
      <app-header-typography [content]="'About Me'"></app-header-typography>
      <app-paragraph-typography [content]="'Focused on Software Engineering and currently trying to achieve my main goal of becoming a good Software Architect by working incomplex projects surrounded with as many brilliant minds as I can.'"></app-paragraph-typography>
      <app-divider [height]="'0.050rem'" [width]="'100%'"></app-divider>
    </div>
  </div>
</div>
