<div class="wrapper">
    <div class="wrapper--box">
      <div class="wrapper--box header">
        <app-header-typography [content]="'My Academic Career'"></app-header-typography>
      </div>
      <div class="wrapper--box content">
        <div class="wrapper--box content card">
          <app-span-typography [content]="'CTESP Web Development'"></app-span-typography>
          <app-span-typography [content]="'Polytechnic Institute of Viseu | 09/2015 - 07/2017'"></app-span-typography>
          <app-span-typography [content]="'Learned Web development concepts.'"></app-span-typography>
          <app-span-typography [content]="'Average Grade (14)'"></app-span-typography>
        </div>
        <div class="wrapper--box content card ">
          <app-span-typography [content]="'Bachelor`s Degree - Computer Science'"></app-span-typography>
          <app-span-typography [content]="'Polytechnic Institute of Viseu | 09/2017 - 07/2020'"></app-span-typography>
          <app-span-typography [content]="'Computer Science degree, specialized on: Core Programming Concepts; Software Architectures; Web/Mobile Development; Software Testing and Software Design Patterns.'"></app-span-typography>
          <app-span-typography [content]="'Average Grade (14)'"></app-span-typography>
        </div>
        <div class="wrapper--box content card">
          <app-span-typography [content]="'Master`s Degree - Computer Science'"></app-span-typography>
          <app-span-typography [content]="'Polytechnic Institute of Viseu | 09/2021 - Current'"></app-span-typography>
          <app-span-typography [content]="'Degree specialized on communication inside IT Organizations. Studied and applied subjects revolve around: Microservices and Monolithic Architectural Systems, Blockchain, Web/Mobile Development and Software Testing'"></app-span-typography>
        </div>
      </div>
    </div>
  </div>
  