<div class="wrapper">
  <div class="wrapper--box">
    <div class="wrapper--box header">
      <app-header-typography [content]="'My Tech Stack'"></app-header-typography>
    </div>
    <div class="wrapper--box group">
      <div class="wrapper--box group hexagon">
        <app-angular-icon></app-angular-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-nest-icon></app-nest-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-java-icon></app-java-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-ts-icon></app-ts-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-node-icon></app-node-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-html-icon></app-html-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-css-icon></app-css-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-jasmine-icon></app-jasmine-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-jest-icon></app-jest-icon>
      </div>
      <div class="wrapper--box group hexagon">
        <app-azure-icon></app-azure-icon>
      </div>
    </div>
  </div>
</div>
