.wrapper {
  background-color: var(--purple--color);
  color: var(--light--color);

  &--box {
    &.header {
      padding: 2rem 3rem;
      text-align: center;
    }

    &.group {
      padding: 2rem 3rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      gap: 1.5rem;

      &.hexagon {
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        min-width: 100%;

        background-color: #4b02aa;
        // clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);

        border-radius: 0.25rem;

        transition: 0.4s;
      }

      &.hexagon:hover {
        background-color: var(--purple--color);

        transition: 0.4s;
      }
    }
  }
}

@media(min-width: 760px) {
  .wrapper {
    &--box {
      &.header {
        padding: 2.5rem 6.5rem;
      }

      &.group {
        padding: 2.5rem 6.5rem;

        &.hexagon {
          padding: 0;
          height: 10vh;
          min-width: 10rem;
        }
      }
    }
  }
}

@media(min-width: 960px) {
  .wrapper {
    &--box {
      &.header {
        padding: 2.5rem 10rem;
      }

      &.group {
        padding: 2.5rem 10rem;


      }
    }
  }
}

@media(min-width: 1600px) {
  .wrapper {
    &--box {
      &.header {
        padding: 2.5rem 25rem;
      }

      &.group {
        padding: 2.5rem 25rem;

        &.hexagon {
          padding: 0;
        }
      }
    }
  }
}
