<div class="wrapper">
  <div class="wrapper--box">
    <div class="wrapper--box header">
      <app-header-typography [content]="'My Business Career'"></app-header-typography>
    </div>
    <div class="wrapper--box content">
      <div class="wrapper--box content card">
        <app-span-typography [content]="'Tomi World | 02/2020 - 08/2020'"></app-span-typography>
        <app-span-typography [content]="'Freelance/Internship'"></app-span-typography>
        <app-span-typography [content]="'Full-Stack Developer designing and developing solutions to integrate on TOMI outdoors.'"></app-span-typography>
        <div>
          <app-ts-icon></app-ts-icon>
          <app-php-icon></app-php-icon>
        </div>
      </div>
      <div class="wrapper--box content card ">
        <app-span-typography [content]="'Libertrium | 09/2020 - 04/2021'"></app-span-typography>
        <app-span-typography [content]="'Junior Software Engineer'"></app-span-typography>
        <app-span-typography [content]="'Full-Stack Developer developing platforms to automate the workflow of public entities.'"></app-span-typography>
        <div>
          <app-ts-icon></app-ts-icon>
          <app-node-icon></app-node-icon>
          <app-angular-icon></app-angular-icon>
        </div>
      </div>
      <div class="wrapper--box content card">
        <app-span-typography [content]="'Devoteam | 04/2021 - 07/2022'"></app-span-typography>
        <app-span-typography [content]="'Junior Software Engineer'"></app-span-typography>
        <app-span-typography [content]="'Front-End Developer developing EDP Solar Web Platform.'"></app-span-typography>
        <div>
          <app-ts-icon></app-ts-icon>
          <app-node-icon></app-node-icon>
          <app-angular-icon></app-angular-icon>
          <app-jasmine-icon></app-jasmine-icon>
          <app-html-icon></app-html-icon>
          <app-css-icon></app-css-icon>
        </div>
      </div>
      <div class="wrapper--box content card">
        <app-span-typography [content]="'Bjss | 07/2022 - Current'"></app-span-typography>
        <app-span-typography [content]="'Software Engineer'"></app-span-typography>
        <app-span-typography [content]="'Full-Stack Developer delivering CLEAN and SOLID solutions for clients such as @Specsavers.'"></app-span-typography>
        <div>
          <app-ts-icon></app-ts-icon>
          <app-java-icon></app-java-icon>
          <app-node-icon></app-node-icon>
          <app-vue-icon></app-vue-icon>
          <app-jest-icon></app-jest-icon>
          <app-html-icon></app-html-icon>
          <app-css-icon></app-css-icon>
          <app-scss-icon></app-scss-icon>
        </div>
      </div>
    </div>
  </div>
</div>
