<div class="wrapper">
  <div class="wrapper--box">
    <div class="wrapper--box group">
      <app-wallpaper-icon></app-wallpaper-icon>
      <app-about-me-icon></app-about-me-icon>
      <app-business-icon></app-business-icon>
      <app-academic-icon></app-academic-icon>
      <app-tech-stack-icon></app-tech-stack-icon>
    </div>
    <app-divider></app-divider>
    <div class="wrapper--box group">
      <app-github-icon></app-github-icon>
      <app-linkedin-icon></app-linkedin-icon>
    </div>
    <app-divider></app-divider>
    <div class="wrapper--box group">
      <app-theme-icon></app-theme-icon>
    </div>
  </div>
</div>
